RewriteEngine On
RewriteBase /api/

# Redirige todas las rutas de /api/... hacia /index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php [QSA,L]
